<!DOCTYPE html>
<html>
<head>
    <title> add product </title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-blue-400 p-6">
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-pink-100 p-8 rounded-lg shadow-md w-full max-w-2xl">
            
            <form method="post" class="">
                <h1 class="text-5xl font-bold mb-8 text-center"> Add Product </h1>
        {% csrf_token %}

        
        <label for="name" class="mb-4">Product Name:</label>
        <input type="text" id="name" name="name" required class="border border-gray-300 p-2 rounded w-full">
        <br>

        <label for="quantity" class="mb-4">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required class="border border-gray-300 p-2 rounded w-full">
        <br>

        <label for="price" class="mb-4">Price:</label>
        <input type="number" id="price" name="price" step="0.01" required class="border border-gray-300 p-2 rounded w-full">
        <br>
        <button type="submit" class="bg-blue-500 text-white p-2 rounded">Save</button>
    </form>
    <a href="{% url 'product_list' %}" class="text-red-500 hover:underline bg-red-300  p-2">Cancel</a>
</body>
</html>