<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body class="bg-blue-400 text-center p-6 min-h-screen">
    <h1 class="text-5xl font-bold mb-4">Delete Product</h1>

    <p class="mb-4">Are you sure you want to delete "{{ product.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="bg-red-500 text-white p-2 rounded">Confirm Delete</button>
    </form>
    <a href="{% url 'product_list' %}" class="text-red-500 hover:underline">Cancel</a>
</body>
</html>