<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-blue-100 min-h-screen">
    <nav class="bg-white shadow w-full"></nav>
        <div class="max-w-7xl mx-auto px-4">
            <div class="flex justify-between h-16">
                <div class="flex-shrink-0 flex items-center">
                    <span class="font-bold text-xl text-blue-600">DjangoSubmit</span>
                </div>
                <div class="flex items-center">
                    <ul class="flex space-x-4">
                        <li><a href="/" class="text-gray-700 hover:text-blue-600 font-medium">Home | </a></li>
                        <li><a href="login" class="text-gray-700 hover:text-blue-600 font-medium">login | </a></li>
                        <li><a href="#" class="text-gray-700 hover:text-blue-600 font-medium">register </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="flex items-center justify-center min-h-[calc(100vh-4rem)]">
        <h1 class="text-3xl font-bold text-gray-800">
            Welcome to Django Submit 2025
        </h1>
    </div>
</body>
</html>
