<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login </title>
</head>
<body>
     
    <form method="post" action="">
    
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">


        <label for="username"> username </label>        
    <input type="username" name="username" id="username" placeholder="username address" required>

    <input type="password" name="password" id="password" placeholder="Password" required>
    <label for="password"> </label>

    <button type="submit"> Submit </button>
    </form>
</body>
</html>