<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-blue-400 p-6">
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-2xl">
    <a href="/"><h1 class="text-5xl font-bold mb-8 text-black text-center">Products in Stock</h1> </a>
    
    <a href="{% url 'add_inventory' %}" class="font-bold text-green-500 mb-8">Add New Product</a>
    <table class="min-w-full bg-white border border-gray-300 mt-8">
        <thead>
            <tr>
                <th class="py-2 px-4 border-b text-left bg-gray-100">Name</th>
                <th class="py-2 px-4 border-b text-left bg-gray-100">Quantity</th>
                <th class="py-2 px-4 border-b text-left bg-gray-100">Price</th>
                <th class="py-2 px-4 border-b text-left bg-gray-100">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for inventory in inventories %}
            <tr class="hover:bg-gray-50">
                <td class="py-2 px-4 border-b">{{ inventory.name }}</td>
                <td class="py-2 px-4 border-b">{{ inventory.quantity }}</td>
                <td class="py-2 px-4 border-b">{{ inventory.price }}</td>
                <td class="py-2 px-4 border-b">
                    <a href="{% url 'edit' inventory.pk %}" class="text-blue-500 hover:underline">Edit</a>
                    <span class="mx-1 text-gray-400">|</span>
                    <a href="{% url 'delete' inventory.pk %}" class="text-red-500 hover:underline">Delete</a>
                </td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="py-4 text-center text-gray-500">No items in stock.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>